/* src/styles/App.css */
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

body {
  margin: 0;
  font-family: "Tektur", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}
