/* src/styles/NavBar.css */

.navbar-light .nav-link {
  color: #333 !important;
}

.navbar-dark .nav-link {
  color: #fff !important;
}

.navbar {
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick it to the top of the viewport */
  z-index: 1000;
  background-color: transparent !important;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.navbar-nav .nav-link {
  color: inherit;
}
