/* Import the required fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

.skill-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  padding: 0;
}

.skill-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

.skill-tile {
  width: 150px;
  height: 150px;
  perspective: 1000px;
  text-decoration: none;
}

.skill-tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.skill-tile:hover .skill-tile-inner {
  transform: rotateY(180deg);
}

.skill-tile-front,
.skill-tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 4em;
  backface-visibility: hidden;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark theme styles */
.dark-theme .skill-tile-front {
  background-color: #333;
  color: #fff; /* Icon color in dark mode */
}

.dark-theme .skill-tile-back {
  background-color: #555;
  color: #fff;
  transform: rotateY(180deg);
  font-size: 1.5em;
}

/* Light theme styles */
.light-theme .skill-tile-front {
  background-color: #e0e5ec;
  color: #000; /* Icon color in light mode */
}

.light-theme .skill-tile-back {
  background-color: #cfd8e3;
  color: #000;
  transform: rotateY(180deg);
  font-size: 1.5em;
}

.skill-tile-front:hover {
  opacity: 0.8;
}
